# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/

# Virtual environments
venv/
ENV/
env/
env.bak/
venv.bak/

# dotenv environment variables file
.env
.env.*.local

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Ignore all migration scripts (but keep __init__.py so Django бачить пакети)
**/migrations/*.py
!**/migrations/__init__.py
**/migrations/*.pyc

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# VS Code
.vscode/

